body {
    background: #C9A5AA;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav {
    width: 800px;
    display: flex;
    justify-content: center;
    background: #F4D3D3;
    height: 41px;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 4px 0;
    box-sizing: border-box;
    gap: 3px;

    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

a:link {
    text-decoration: none;
    color: #006EBE;
}

a:visited {
    text-decoration: none;
    color: #0B257D;
}

.nav-button:hover {
    background: #FFFFFF;
    border-radius: 4px;
}

.nav-button {
    padding: 6px 10px;
}

.footer {
    width: 800px;
}

.article {
    background: #FFFFFF;
    width: 800px;
    height: 1544px;
    padding: 30px 50px;
    box-sizing: border-box;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.article-header {
    background: #E9E9E9;
    padding: 8px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    border-radius: 8px;
    line-height: 14px;
}

h1 {
    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    margin: 0;
    line-height: 51px;
}

h2 {
    width: 700px;
    height: 29px;
    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 8px;
}

.image {
    background: #F4D3D3;
    border-radius: 12px;
    padding: 35px 30px 15px;
    margin: 0;
}

.caption-text {
    width: auto;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
    line-height: 21px;
}

p {
    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}

.film-list {
    padding-left: 0;
    margin: 0;
}

.list-item {
    border-bottom: 1px #C9A5AA solid;

    list-style-type: none;
    padding: 10px;
    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.list-item:first-child {
    background: #FCF5E9;
}

.list-item:nth-child(even) {
    background: #FCE9E9;
}

.list-item:last-child {
    border-bottom: none;
    line-height: 21px;
}

#filmography {
    gap: 0;
}

.footer {
    display: flex;
    width: 800px;
    justify-content: center;
    align-content: center;
    background: #F4D3D3;
    padding: 20px 0;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
